.main-body {
  background-color: #b2e1e6;
}

.canvas-div {
  position: relative;
  align-items: center;
  display: block;
  margin: 0 auto;
  width: 527px;
}
.canvas {
  position: absolute;
  top: 60px;
  border: 1px solid black;
  height: 600px;
  width: 525px;
  border-radius: 5px;
  background: linear-gradient(#ccf2ff, #fff);
  /* background-color: rgba(235, 235, 235); */

}
.title {
  font-family: 'Chakra Petch', sans-serif;
  z-index: -1;
  font-size: 80px;
}
.one{
  position: relative;
  width: 200px;
  transform: rotate(-41deg);
  top: 14px;
  left: -114px;
}
.two {
  position: relative;
  width: 200px;
  transform: rotate(41deg);
  top: -136px;
  left: 449px;
}
.three {
  position: relative;
  width: 200px;
  top: 314px;
  left: 123px;
}
.all-nav {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 25px;
  display: block;
  width: 100px;
  position: relative;
  top: -260px;
  left: -120px;
}
.nav-link {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
}
